/* **********************NAVIGATION **************************************** */

header {


    animation: 2s ease-out 0s 1 slideInLeft;
    animation-delay: 3s;
}


.navbar-dark .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap=' round' stroke-miterlimit=' 10' stroke-width=' 2' d=' M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border: 1px;
    color: #06d6a0;
}


#_navBar {

    top: 0;
    position: fixed;
    /* Make it stick/fixed */
    width: 100%;
    /* Full width */
    z-index: 1000;
    /* Transition effect when sliding down (and up) if desired */
}

/* Style the navbar links */
.navbar-dark .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap=' round' stroke-miterlimit=' 10' stroke-width=' 2' d=' M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border: 1px;
    color: #06d6a0;
}



#_navBar a {
    color: white;
    text-align: end;

}

#social-icons img {
    height: 200px;
}

#social-icons img:hover {
    background-color: #081c15;
    box-shadow: 15px 20px 30px -15px #3b28cc;
    border-radius: 10px;
}




/* *********************END OF NAVIGATION*************************** */

/* ************************BODY***************************************** */

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
    color: gainsboro;
    height: 100%;
    background-color: #0c0f0a;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: scroll;
    background: #242f3f;
    overflow: hidden;
    line-height: 1.3;
    font-size: 20px;
}

section {
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    min-height: 100vh;
    max-height: fit-content;
}


h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: clamp(10px, 8vw, 60px);
    text-decoration-thickness: 1px;
}


h1 {
    font-size: 50px;
}

h2.big-heading {
    font-family: 'Archivo Black', sans-serif;
    font-size: clamp(10px, 8vw, 70px);
    text-decoration-thickness: 1px;
    color: #06d6a0;
}

h3 {
    font-size: clamp(10px, 8vw, 40px);
    font-weight: bolder;
    margin-top: 10px;
    line-height: 1.3;
    color: gainsboro;
}

h3.big-heading {
    font-size: clamp(10px, 8vw, 40px);
    margin-top: 10px;
    line-height: 1.3;
    color: #06d6a0;
}


button {

    width: fit-content;
    border-radius: 5px;
}



.inner {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    padding: 3%;
    background-color: #081c15;
    box-shadow: 15px 20px 30px -15px #06d6a0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#hero {

    display: flex;
    justify-content: center;
}

.aboutStyledPic {
    padding: 1%;
    box-shadow: 0 10px 30px -15px #06d6a0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-width: 10px;
    border-color: #0f4c5c;
}



.homeStyled,
.jobsStyled,
.aboutStyled,
.portfolioStyled,
.contactStyled {
    height: fit-content;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 20px 30px -15px #3b28cc;
}


#buttons.tab {
    display: flex;
}

::before,
::after {
    box-sizing: inherit;
}





.cards {
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}


.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

main.fillHeight {
    padding: 0px 150px;
}

main {
    background-color: #0c0f0a;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main.fillHeight {
    padding: 0px 150px;
}



#social-icons img {
    width: 100px;
    height: 100px;
}

.flip-card h3.big-heading {
    font-style: 10px;
    padding: 0px;
}


.flip-card {
    box-shadow: 0 20px 30px -15px #06d6a0;
    background-color: #0c0f0a;
    width: 300px;
    height: 150px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card img {
    width: 100px;
    height: 100px;

}

.flip-card-front,
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 100%;
    padding: 1%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #081c15;
    color: white;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back img {

    border-radius: 4px;
    box-shadow: 0 20px 30px -15px #3b28cc;

}

#hero {
    align-self: center;
}

.tablinks {
    height: min-content;
    text-align: center;
    cursor: pointer;
    background-color: #081c15;
    color: #fff;
    border-color: #081c15;
    padding: 1%;
    box-shadow: 0 20px 30px -15px #3b28cc;
    background-color: #081c15;
    border-width: 5px;
    border-radius: 4px;
}

.tablinks:hover {
    background-color: #0c0f0a;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

/* ****************************END OF BODY*************************************** */

/* ******************************ANIMATIONS************************************************** */

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(180deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader-inner {
    0% {
        height: 0%
    }

    25% {
        height: 0%
    }

    50% {
        height: 100%
    }

    75% {
        height: 100%
    }

    100% {
        height: 0%
    }
}

@keyframes slideInLeft {


    0% {
        transform: translateX(-100%);

    }

    100% {
        transform: translateX(0);

    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}



.content {
    background-color: #0f4c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.loader {
    width: 100px;
    height: 100px;
    background-repeat: 10%;
    border: 20px solid #06d6a0;
    animation: loader 2s infinite ease;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #0c0f0a;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity 6s ease-in;

}


.animated {
    display: flex;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


/* ****************************END OF ANIMATIONS**************************** */

/* *********************PARALLAX ELEMENTS************************************ */

.bgimg-2 {
    background-image: url("https://entrepreneurship.ncsu.edu/wp-content/uploads/2022/02/austin-skyline.jpeg");
}

.bgimg-3 {
    background-image: url("https://www.telegraph.co.uk/content/dam/Travel/Destinations/North%20America/USA/texas/austin-sixth-street-texas-nightlife.jpg")
}

.bgimg-1 {
    background-image: url("https://cdn.wallpapersafari.com/76/31/PgmM08.jpg")
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.3;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

/* ********************************************************END OF PARALLAX********************************************************************************************* */


/* ********************************************************MEDIA QUERIES************************************************************************ */


@media (min-width:766px) {
    #mobileLinks {
        display: none;
    }

}

@media (max-width:766px) {
    #social-icons {
        display: none;
    }

}


@media only screen and (max-device-width: 1600px) {


    #pBgIMG {
        display: none;
    }


    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }

}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {


    .flip-card {

        width: 300px;
        height: 150px;

    }



}

@media screen and (min-device-width: 576px) and (max-device-width: 1200px) {
    body {
        font-size: 30px;
    }


    .flip-card {

        width: 200px;
        height: 100px;

    }

    .flip-card img {
        width: 100px;
        height: 100px;

    }

    section {
        position: relative;
        height: 100vh;
    }

    .inner {
        width: 85%;
        height: fit-content;
    }


    .aboutStyledPic {
        height: 100%;
        width: 100%;
    }


    h1 {
        font-size: 40px;
    }

    h2.big-heading {
        margin: 0px;
        font-size: clamp(10px, 20vw, 50px);
    }


    h2.title,
    h3,
    h3.big-heading {
        font-size: clamp(10px, 8vw, 50px);
        margin-top: 10px;
        line-height: 1.3;
        color: #06d6a0;
    }

    .flip-card-front,
    .flip-card-back {
        gap: 8px
    }


    .big-heading {
        margin: 0px;
        font-size: clamp(10px, 8vw, 20px);
    }



}

@media (max-width:576px) {

    .tab {
        display: flex;
        flex-direction: column;
    }


    .cards {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
    }

    .flip-card-front,
    .flip-card-back {
        gap: 10px
    }

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        display: none;
    }

    #nBarAnchor {
        display: none;
    }

    li {
        display: block;

    }

    .tab {
        display: flex;
    }

    .tab button {

        width: fit-content;
        border-radius: 5px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation:portrait) {

    body {
        font-size: 15px;
    }

    .cards {
        align-self: center;
    }

    .flip-card {

        width: 100px;
        height: 50px;

    }

    .flip-card img {
        width: 40px;
        height: 40px;

    }

    section {
        position: relative;
        height: 100vh;
    }

    .inner {
        width: 70%;
        height: fit-content;
    }


    .aboutStyledPic {
        height: 100%;
        width: 100%;
    }


    h1 {
        font-size: 20px;
    }

    h2.big-heading {
        margin: 0px;
        font-size: clamp(10px, 20vw, 20px);
    }


    h2.title,
    h3,
    h3.big-heading {
        font-size: clamp(10px, 8vw, 20px);
        margin-top: 10px;
        line-height: 1.3;
        color: #06d6a0;
    }


    .big-heading {
        margin: 0px;
        font-size: clamp(10px, 8vw, 20px);
    }

    .tablinks {
        font-size: smaller;
        text-align: center;
        cursor: pointer;
        background-color: #081c15;
        color: #fff;
        border-color: #081c15;
        padding: 1%;
        box-shadow: 0 20px 30px -15px #3b28cc;
        background-color: #081c15;
        border-width: 2px;
        border-radius: 4px;
    }

    #_navBar img:hover {
        background-color: unset;
        box-shadow: 15px 20px 30px -15px #3b28cc;
        border-radius: 10px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 900px) and (orientation:landscape) {




    body {
        font-size: 15px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 5px;
    }

    .flip-card {

        width: 100px;
        height: 50px;

    }

    .flip-card img {
        width: 40px;
        height: 40px;

    }

    .flip-card-front,
    .flip-card-back {
        gap: 10px;
    }

    section {
        position: relative;
        height: 100vh;
    }

    .inner {
        width: 80%;
        height: 90%;
    }


    .aboutStyledPic {
        height: 100px;
        width: 100px;
    }


    h1 {
        font-size: 20px;
    }

    h2.big-heading {
        margin: 0px;
        font-size: clamp(10px, 20vw, 20px);
    }


    h2.title,
    h3,
    h3.big-heading {
        font-size: clamp(10px, 8vw, 20px);
        margin-top: 10px;
        line-height: 1.3;
        color: #06d6a0;
    }


    .big-heading {
        margin: 0px;
        font-size: clamp(10px, 8vw, 20px);
    }

    .tablinks {
        font-size: smaller;
        text-align: center;
        cursor: pointer;
        background-color: #081c15;
        color: #fff;
        border-color: #081c15;
        padding: 1%;
        box-shadow: 0 20px 30px -15px #3b28cc;
        background-color: #081c15;
        border-width: 2px;
        border-radius: 4px;
    }

    #_navBar img:hover {
        background-color: unset;
        box-shadow: 15px 20px 30px -15px #3b28cc;
        border-radius: 10px;
    }

    #_navBar img {
        height: 20px;
        width: 20px;
    }

    .nav-link {
        padding: .5%;
    }

    #social-icons img {
        height: 20px;
        width: 20px;
    }

}