/* **********************NAVIGATION **************************************** */
header {
    font-size: 24px;
    animation: 2s ease-out 0s 1 slideInLeft;
    animation-delay: 3s;
}


.navbar-dark .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap=' round' stroke-miterlimit=' 10' stroke-width=' 2' d=' M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border: 1px;
    color: #06d6a0;
}


#_navBar {
    top: 0;
    position: fixed;
    /* Make it stick/fixed */
    width: 100%;
    /* Full width */
    z-index: 1000;
    /* Transition effect when sliding down (and up) if desired */
}


/* Style the navbar links */
.navbar-dark .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap=' round' stroke-miterlimit=' 10' stroke-width=' 2' d=' M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border: 1px;
    color: #06d6a0;
}

#_navBar a {
    color: white;
    float: right;
    border-radius: 10px;
}


#_navBar a:hover {
    background-color: #06d6a0;
}

#social-icons img {
    width: 40px;
    height: 40px;
}



#social-icons img:hover {
    background-color: #3b28cc;
    box-shadow: 15px 20px 30px -15px #3b28cc;
    border-radius: 10px;
}

/* *********************END OF NAVIGATION*************************** */
/* ************************BODY***************************************** */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    color: #fff;
    background-color: #0c0f0a;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: scroll;
    background: #0c0f0a;
    overflow: hidden;
    line-height: 1.3;
}

main::-webkit-scrollbar {
    display: none;
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .1);
    z-index: 2;
}



.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
    z-index: 1;
}

.tenten {
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}

.tenten>li {
    width: 100%;
    height: 100%;
}

#tenten {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

main {
    background-color: #0c0f0a;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}


.inner {
    border-radius: 10px;
    background-color: #081c15;
    box-shadow: 0px 10px 30px 0px #06d6a0;
    height: 80%;
    width: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.innerHome {
    border-radius: 10px;
    background-color: #081c15;
    box-shadow: 0px 10px 30px 0px #06d6a0;
    width: 80%;
    height: 100vh;
    padding: 2%;

}

#hero {
    display: flex;
    justify-content: center;
    position: relative;
}

div {
    border-radius: 4px;
}

.aboutStyledPic {
    box-shadow: 0 10px 30px -15px #06d6a0;
    max-height: 200px;
    min-height: auto;
    max-width: 200px;
    min-width: auto;
    border-radius: 50%;
    border-width: 10px;
}

.background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: center;
}

.jobsStyled {
    font-size: 32px;
    box-shadow: 0 5px 30px 0px #3b28cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

.homeStyled,
.aboutStyled,
.contactStyled {
    font-size: 32px;
    box-shadow: 0 5px 30px 0px #3b28cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.portfolioStyled {
    font-size: 32px;
    box-shadow: 0 5px 30px 0px #3b28cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 100%;
}


h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: clamp(10px, 8vw, 60px);
    text-decoration-thickness: 1px;
}

h1 {
    font-size: 30px;
}

h2.big-heading {
    font-family: 'Archivo Black', sans-serif;
    font-size: clamp(10px, 8vw, 40px);
    text-decoration-thickness: 1px;
    color: #06d6a0;
    margin-bottom: 1.5rem;
    vertical-align: top;
}


h3,
h2.title {
    padding-top: 1%;
    font-size: clamp(10px, 8vw, 30px);
    font-weight: bolder;
    margin-top: 10px;
    line-height: 1.3;
    color: #06d6a0;
}

ul {
    padding: 0%;
}

#heroList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-list li img {
    height: 60px;
    width: 60px;
}

.skills-list {
    columns: 2;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
}

.skills-list img {
    height: 40px;
    width: 40px;
}

.skills-list img {
    height: 60px;
    width: 60px;
}

li {
    list-style: none;

}

#buttons.tab {
    display: flex;
}

::before,
::after {
    box-sizing: inherit;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flip-card h3 {
    font-style: 8px;
    padding: 0px;
    padding-top: 1%;
    color: #06d6a0;
}


.flip-card {
    margin: 0;
    box-shadow: 0px 10px 30px 0px #06d6a0;
    background-color: #0c0f0a;
    width: 500px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flip-card-front,
.flip-card-back {
    padding: 1%;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #081c15;
    color: white;
}



.flip-card-back {
    transform: rotateY(180deg);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: sticky;
    list-style: none;
}

.flip-card-back::-webkit-scrollbar {
    display: none;
}

.flip-card-back img {
    border-radius: 4px;
    box-shadow: 0 5px 30px 0px #3b28cc;
    padding-top: auto;

}

.sbwThumbNail,
.tttThumbNail,
.calcThumbNail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero {
    align-self: center;
}

.tabs {
    text-align: center;
    cursor: pointer;
    background-color: #081c15;
    color: #fff;
    border-color: #081c15;
    padding: 1%;
    box-shadow: 0 5px 30px 0px #06d6a0;
    background-color: #081c15;
    border-width: 5px;
    border-radius: 4px;
}

.tab:focus {
    background-color: #081c15;
}


.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #081c15;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    border-color: #3b28cc;
}

.panels::-webkit-scrollbar {
    display: none;
}

.panels {
    margin-top: 2%;
    background: #081c15;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: scroll;
    padding: 2%;
    -ms-overflow-style: none;
}

.panel {
    display: none;
    animation: fadein .8s;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold
}

.radio {
    display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel {
    display: block
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab {
    background: #081c15;
    color: #fff;
    box-shadow: 0 0.5rem 0.8rem #3b28cc;
}

.tab button {

    height: 60px;
    width: 200px;
}

.tab:hover {
    background-color: #06d6a0;
}

/* ****************************END OF BODY*************************************** */
/* ******************************ANIMATIONS************************************************** */

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(180deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader-inner {
    0% {
        height: 0%
    }

    25% {
        height: 0%
    }

    50% {
        height: 100%
    }

    75% {
        height: 100%
    }

    100% {
        height: 0%
    }
}

@keyframes slideInLeft {


    0% {
        transform: translateX(-100%);

    }

    100% {
        transform: translateX(0);

    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.content {
    background-color: #0c0f0a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-repeat: 10%;
    border: 10px solid #06d6a0;
    animation: loader 2s infinite ease;
    border-radius: 10px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #0c0f0a;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity 6s ease-in;

}

.animated {
    display: flex;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


/* ****************************END OF ANIMATIONS**************************** */

/* *********************PARALLAX ELEMENTS************************************ */

.bgimg-2 {
    background-image: url("https://entrepreneurship.ncsu.edu/wp-content/uploads/2022/02/austin-skyline.jpeg");
}

.bgimg-3 {
    background-image: url("https://www.telegraph.co.uk/content/dam/Travel/Destinations/North%20America/USA/texas/austin-sixth-street-texas-nightlife.jpg")
}

.bgimg-1 {
    background-image: url("https://cdn.wallpapersafari.com/76/31/PgmM08.jpg")
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.3;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}



/* ********************************************************END OF PARALLAX********************************************************************************************* */


/* ********************************************************MEDIA QUERIES************************************************************************ */


@media only screen and (max-device-width: 1600px) {



    #pBgIMG {
        display: none;
    }


    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }

}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (min-device-height:300px) {

    .inner {
        width: 90%;
    }

    .flip-card {

        width: 600px;
        height: 300px;

    }


    .aboutStyledPic {
        height: 175px;
        width: 175px;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .inner {
        width: 90%;
    }

    .flip-card {

        width: 200px;
        height: 100px;

    }

    .flip-card img {
        width: 100px;
        height: 100px;

    }

}



@media only screen and (min-device-width: 345px) and (max-device-width: 926px) and (orientation:landscape) {
    .inner {
        width: 90%;
    }

    p {
        font-size: smaller;
    }

    .inner {
        width: 90%;
        height: 90%;
    }

    .tenten {
        object-fit: contain;
    }

    #tenten {
        height: 100%;
        width: 100%;
    }

    .tabs {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .tab {
        padding: 2%;
    }

    .slide>p {
        width: 50%;
    }

    .carousel-button.prev {
        left: .5rem;
    }

    .carousel-button.next {
        right: .5rem;
    }

    h2.big-heading {
        font-size: 24px;
        margin-bottom: 0;
    }

    h1,
    h2,
    h3 {
        font-size: smaller;
    }

    .homeStyled,
    .aboutStyled,
    .jobsStyled,
    .contactStyled {
        padding-left: 5%;
        padding-right: 5%;
    }

    .tenten {
        flex-direction: column;
    }

    .panels {
        overflow-y: scroll;
        position: sticky;
    }

    .aboutStyledPic {
        width: 150px;
        height: 150px;
    }

    body {
        font-size: smaller;
    }

    .carousel-button {
        font-size: 1rem;
    }

    #tech-icons {
        display: flex;
        flex-direction: column;
    }

    .flip-card-front {
        flex-direction: column;
    }

    .flip-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: smaller;
        width: 400px;
        height: 300px;

    }

    .flip-card img {
        width: 100px;
        height: 100px;

    }

}

@media only screen and (min-device-width: 250px) and (max-device-width: 926px) and (orientation:portrait) {

    #resume {
        margin-top: 100px;
        margin-bottom: 100px;
    }


    .inner {
        width: 90%;
    }

    .tenten {
        object-fit: contain;
    }

    #tenten {
        height: 100%;
        width: 100%;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .tab {
        padding: 2%;
    }

    .slide>p {
        width: 50%;
    }

    .carousel-button.prev {
        left: .5rem;
    }

    .carousel-button.next {
        right: .5rem;
    }

    h1,
    h2,
    h3 {
        font-size: smaller;
    }

    .homeStyled,
    .aboutStyled,
    .jobsStyled,
    .contactStyled {
        padding-left: 5%;
        padding-right: 5%;
    }

    .tenten {
        flex-direction: column;
    }

    .panels {
        overflow-y: scroll;
        position: sticky;
    }

    .aboutStyledPic {
        width: 150px;
        height: 150px;
    }

    body {
        font-size: smaller;
    }

    .carousel-button {
        font-size: 1rem;
    }

    #tech-icons {
        display: flex;
        flex-direction: column;
    }

    .flip-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: smaller;
        width: 200px;
        height: 500px;

    }

    .flip-card img {
        width: 100px;
        height: 100px;

    }


}